//首页样式
.intro {
	.cell {
        width: 305px;
        height: 168px;		
		span {
			position: absolute;
			left: 30px;
			top:25px;
		}
		h2 {
			font-size: 14px;
			position: absolute;
			top: 60px;
			display: inline-block;
			a {
				color: rgb(12, 148, 222);				
			}
		}
		div {
			line-height: 21px;
			color:@88;
			position: absolute;
			left: 38px;
			bottom: 35px;						
		}
	}
	.cell:first-child {
		margin-left: 0;
		span {
			margin-left: -5px;
		}
		h2 {
			left: 90px;
		}
		div {
			margin-right: 27px;
		}
	}
	.cell.quality {
		width: 305px;
		span {
			margin-left: -5px;
		}
		h2 {
			left: 98px;
		}
		div {
			margin-right: 25px;
		}
	}
	.cell.nail {
		width:304px;
		span {
			margin-left: -10px;		
		}
		h2 {
			left: 85px;
		}
		div {
			margin-right: 28px;
		}		
	}
}

.container.sdk {
	padding: 25px;
	width:908px;
	height: 115px;
	margin-top: 54px;
	margin-bottom: 20px;
	ul {
		li  {
			display: inline-block;
			width: 94px;
			border-left: 1px solid #f0f0f0;
			&:first-child {
				border-left: none;
			}
			height: 70px;
			margin:0 auto;
			// margin-bottom: 5px;
			text-align: center;
			vertical-align: middle;
			a {
				display: block;
				vertical-align: middle;
				margin-left: 7.5px;
				img {
					// vertical-align: middle;
					margin-top: 5px;
				}					
			}
		}
	}
}
.container.index {
	overflow: hidden;
	.cell {
		padding: 25px;		
		// padding: 25px 25px 0;		
		h2 {
			margin-bottom: 22px;
			color:#262626;
		}
	}
	a {
		color: rgb(12,148,222);
	}	
	.main {
		margin-bottom: 76px;		
		.cell {
			width: 580px;
		}
		.api {
			margin-bottom: 20px;
			padding-bottom: 10px;
			.cell-line {
				border-top:1px solid #f0f0f0;
				padding-top: 15px;
				margin-bottom: 3px;
				&:first-child {
					border-top: none;
					padding-top: 0;
				}
				h3 {
					
					font-size: 12px;
					margin-bottom: 10px;
					color: #404040;
				}
				h4 {
					font-size: 12px;
					margin-bottom: 10px;
					margin-top:8px;
					// font-size: 
					color: #404040;
					font-weight: normal;
				}
				ul {
					overflow: hidden;
					//ssss
					li {
						float: left;
						width: 145px;
						margin-bottom: 10px;

					}
				}
			}
		}
		.cli {
			height: 70px;
			ul {
				overflow: hidden;
				li {
					float: left;
					overflow: hidden;
					width: 193px;
					p {
						color: @64;
						line-height: 18px;
					}
					.logo {
						width: 26px;
						margin-right: 14px;
					}	
					.info {
						width: 153px;
					}				
				}
			}
		}
	}
	.side-bar {
		width: 308px;
		margin-left: 20px;
		.cell-body {
			padding: 25px 0;
			border-top:1px solid @240;
			h2 {
				margin-bottom: 5px;
			}
			h3 {
				margin-bottom: 16px;
			}
			p {
				line-height: 20px;
				margin-left: 35px;
			}
			>div {
				margin-top: 25px;				
				span.icon {
					margin-right: 16px;
					position: relative;
					top:1px;
				}
				&:first-child {
					margin-top: 0;
				}
			}
			a {
				color: @64;
			}			
		}
		.question {
			margin-bottom: 20px;
			max-height: 305px;
			ul {
				list-style-type: disc;
				list-style-position: inside;
				li {
					line-height: 18px;
					padding: 10px 0;
					&:first-child {
						padding-top: 0;
					}
				}
			}
		}
		.resource-community {
			height: 328px;
			span {
				display: inline-block;
				vertical-align: top;
				margin-top:5px;
			}
			>div {
				margin-top: 22px;
				height: 55px;
			}
			h4 {
				font-weight: normal;
				color: @64;
				display: inline-block;
				width: 215px;
				margin-left: 10px;
				a {
					display: block;
					line-height: 20px;
				}				
			}
			p {
				line-height: 18px;
				margin-left: 30px;
				color:@153;
				a {
					color:@153;
				}
			}
		}
	}
}