<div class="panel panel-default ">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a href="#"> SDK </a>
            <span class="icon api_default_sprited">
            </span>
        </h4>
    </div>
    <div class="panel-body">
        <ul class="panel-list level-one">
            <li>
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <span class="icon api_unselect_sprited">
                        </span>
                        <a href="/sdk/ios-sdk.html" class="link"> Objective-C (iOS) </a>
                        <span class="icon"></span>
                    </h5>
                </div>
                <div class="panel-body" id="ios-sdk">
                    Objective-C (iOS) - content
                </div>
            </li>
            <li>
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <span class="icon api_unselect_sprited"></span>
                        <a href="/sdk/android-sdk.html" class="link">
                                                Java (Android)
                                            </a>
                        <span class="icon">
                        </span>
                    </h5>
                </div>
                <div class="panel-body" id="android-sdk">
                </div>
            </li>
            <li>
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <span class="icon api_unselect_sprited">
                        </span>
                        <a href="/sdk/java-sdk.html" class="link">
                                                Java
                                            </a>
                        <span class="icon">
                        </span>
                    </h5>
                </div>
                <div class="panel-body" id="java-sdk">
                </div>
            </li>
            <li>
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <span class="icon api_unselect_sprited">
                        </span>
                        <a href="/sdk/php-sdk.html" class="link">
                                                PHP
                                            </a>
                        <span class="icon">
                        </span>
                    </h5>
                </div>
                <div class="panel-body" id="php-sdk">
                </div>
            </li>
            <li>
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <span class="icon api_unselect_sprited"></span>
                        <a href="/sdk/python-sdk.html" class="link"> Python </a>
                        <span class="icon"></span>
                    </h5>
                </div>
                <div class="panel-body" id="python-sdk"></div>
            </li>
            <li>
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <span class="icon api_unselect_sprited"></span>
                        <a href="/sdk/ruby-sdk.html" class="link"> Ruby </a>
                        <span class="icon"></span>
                    </h5>
                </div>
                <div class="panel-body" id="ruby-sdk">
                </div>
            </li>
            <li>
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <span class="icon api_unselect_sprited">
                        </span>
                        <a href="/sdk/nodejs-sdk.html" class="link">
                                                Node.js
                                            </a>
                        <span class="icon">
                        </span>
                    </h5>
                </div>
                <div class="panel-body" id="nodejs-sdk">
                </div>
            </li>
            <li>
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <span class="icon api_unselect_sprited">
                        </span>
                        <a href="/sdk/csharp-sdk.html" class="link">
                                                C#
                                            </a>
                        <span class="icon">
                        </span>
                    </h5>
                </div>
                <div class="panel-body" id="csharp-sdk">

                </div>
            </li>
            <li>
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <span class="icon api_unselect_sprited">
                        </span>
                        <a href="/sdk/c-sdk.html" class="link">
                                                C/C++
                                            </a>
                        <span class="icon">
                        </span>
                    </h5>
                </div>
                <div class="panel-body" id="c-sdk">
                    C/C++ - content
                </div>
            </li>
            <li>
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <span class="icon api_unselect_sprited">
                        </span>
                        <a href="/sdk/go-sdk.html" class="link">
                                                Go
                                            </a>
                        <span class="icon">
                        </span>
                    </h5>
                </div>
                <div class="panel-body" id="go-sdk">
                </div>
            </li>
        </ul>
    </div>
</div>
