    <div class="container">
            <div class="link">
                <div class="link-content cooperation">
                    <h4>购买咨询</h4>
                    <ul>
                        <li>
                            <span class="icon global_tel_sprited"></span>400-808-9176</li>
                        <li>
                            <span class="icon global_mail_sprited"></span><a href="mailto:sales@qiniu.com">sales@qiniu.com</a>
                        </li>
                    </ul>
                </div>
                <div class="link-content social">
                    <h4>关注</h4>
                    <ul>
                        <li>
                            <span class="icon global_weibo_sprited"></span><a href="http://e.weibo.com/qiniutek" target="_blank">新浪微博</a>
                        </li>
                        <li>
                            <span class="icon global_weixin_sprited"></span><a href="http://www.qiniu.com/feature.html#weixin" target="_blank">微信</a>
                        </li>
                        <li>
                            <span class="icon global_github_footer_sprited"></span><a href="https://github.com/qiniu" target="_blank">Github</a>
                        </li>                        
                    </ul>
                </div>
                <div class="link-content product">
                    <h4>产品</h4>
                    <ul>
                        <li><a href="http://www.qiniu.com/feature.html" target="_blank">产品特色</a>
                        </li>
                        <li><a href="http://www.qiniu.com/price" target="_blank">价格</a>
                        </li>
                        <li><a href="https://portal.qiniu.com/signup" target="_blank">免费注册</a>
                        </li>
                        <li><a href="https://portal.qiniu.com/signup#agreement" target="_blank">服务协议</a>
                        </li>
                    </ul>
                </div>
                <div class="link-content docs">
                    <h4>开发者支持</h4>
                    <ul>
                        <li><a href="http://docs.qiniu.com/" target="_blank">文档</a>
                        </li>
                        <li><a href="http://docs.qiniu.com/resources.html" target="_blank">资源下载</a>
                        </li>
                        <li><a href="http://segmentfault.com/qiniu" target="_blank">问答社区</a>
                        </li>
                        <li><a href="#" class="js-initFeedBack">技术支持</a>
                        </li>
                    </ul>
                </div>
                <div class="link-content about">
                    <h4>关于</h4>
                    <ul>
                        <li><a href="http://www.qiniu.com/about/index.html" target="_blank">关于七牛</a>
                        </li>
                        <li><a href="http://www.qiniu.com/about/report.html" target="_blank">媒体报道</a>
                        </li>
                        <li><a href="http://www.qiniu.com/about/jobs.html" target="_blank">工作机会</a>
                        </li>
                        <li><a href="http://www.qiniu.com/about/contact.html" target="_blank">联系我们</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="copyright">© 2013 七牛云存储 - 沪ICP备11037377号-5</div>
        </div>
