<div class="container">
    <h1 class="pull-left">
        <a href="http://docs.qiniu.com/" target="_blank">
            <img src="/static/image/logo.png" alt="">
        </a>
    </h1>
    <nav class="pull-left nav-home">
        <a href="/" class="active">首页</a>
        <a href="https://portal.qiniu.com/develop/tutorial">新手上路</a>
        <a href="/docs/api/index.html">文档</a>
        <a href="/download/index.html">资源下载</a>
    </nav>
    <div class="pull-left search">
        <input type="text" name="search" id="search" placeholder="全站搜索">
        <span class="global_search_default_sprited"></span>
    </div>
    <nav class="pull-right nav-top">
        <a href="http://segmentfault.com/qiniu" target="_blank">问答社区</a>
        <a href="https://portal.qiniu.com/" target="_blank">开发者平台</a>
        <a href="http://www.qiniu.com/" target="_blank">七牛官网</a>
    </nav>
</div>